.modal-content {
    transform: translateY(100%);
    animation: slide-up 0.3s ease forwards;
}

.fixed {
    /* Этот класс отвечает за позиционирование модалки */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%); /* Внизу экрана */
  }
  100% {
    transform: translateY(0); /* Финальное положение на месте */
  }
}
